body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5e9e0, #d1bfa7); /* Gradiente que lembra o leite condensado e o brigadeiro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #fff; /* Fundo branco para destacar o conteúdo */
    padding: 20px;
    border-radius: 15px; /* Cantos mais arredondados */
    box-shadow: 0 0 15px rgba(0,0,0,0.2); /* Sombra mais pronunciada */
    max-width: 600px;
    width: 100%;
    border: 2px solid #a67b5b; /* Borda marrom médio */
}

h1 {
    font-size: 2.8em;
    color: #4e342e; /* Marrom escuro */
    margin: 0;
    font-weight: bold;
    text-shadow: 1px 1px 2px #6d4c41; /* Sombra para destacar o título */
}

h2 {
    font-size: 1.6em;
    color: #6d4c41; /* Marrom médio */
    margin: 10px 0;
    font-weight: normal;
}

.recipe-image {
    width: 100%;
    max-width: 500px; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin: 20px 0; /* Espaço acima e abaixo da imagem */
    border-radius: 10px; /* Canto arredondado para a imagem */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra suave para a imagem */
}

.recipe {
    text-align: left;
    margin-top: 20px;
}

.recipe h3 {
    font-size: 2em;
    color: #3e2723; /* Marrom muito escuro */
    margin-bottom: 15px;
    font-weight: bold;
}

.recipe ul {
    list-style-type: disc; /* Estilo disc para listas */
    padding-left: 20px;
    color: #4e342e; /* Marrom escuro */
}

.recipe ol {
    padding-left: 20px;
    color: #4e342e; /* Marrom escuro */
}

.recipe p, .recipe ul, .recipe ol {
    margin: 10px 0;
}

button {
    background-color: #d1bfa7; /* Cor de botão que lembra granulado */
    color: #3e2723; /* Texto do botão em marrom muito escuro */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a67b5b; /* Marrom escuro no hover */
}

